################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
bin
obj
log
*.h5
__pycache__
/SciSharp.Models.YOLOv3/data
/SciSharp.Models.AudioRecognition/audio_recognition_py/data
/SciSharp.Models.ObjectDetection/YOLOv3/python/mAP
/SciSharp.Models.ObjectDetection/YOLOv3/data

